[init]
	defaultBranch = main

[filter "gitignore"]
    clean = "sed '/#gitignore$/d';"
    smudge = cat

[gpg]
	format = ssh

[user]
	name = nsanso97
	email = nsansoni97@gmail.com

[commit]
	gpgsign = true

[core]
    editor = nvim
    pager = bat -p

[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
