[init]
	defaultBranch = main

[filter "gitignore"]
    clean = "sed '/#gitignore$/d';"
    smudge = cat

[gpg]
	format = ssh

[user]
	name = nsanso97
	email = nsansoni97@gmail.com

[commit]
	gpgsign = true

[core]
    editor = vim
    pager = bat -p

[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
